{{template "partials/header" .}}

<h1>{{.DisplayName}}</h1>


<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value={{.User.Username}}><br><br>
    <label for="display_name">Display Name:</label>
    <input type="text" id="display_name" name="display_name" value="{{.User.DisplayName}}"><br><br>

    <label for="bio">Bio:</label>

    <textarea id="bio" name="bio" rows="4" cols="50">{{.User.Bio}}</textarea>

    <input type="submit" value="Submit">
  </form>

{{template "partials/list" .}}

{{template "partials/footer" .}}